<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WebAutomation" parallel="tests" thread-count="2">
    <parameter name="hubUrl" value="http://localhost:4444/wd/hub"/>
    <test name="WebFirefoxTest">
        <parameter name="browserName" value="firefox-local"/>
        <!--        Enable below to run on grid-->
        <!--        <parameter name="browserName" value="firefox-remote"/>-->
        <classes>
            <class name="io.automation.AmazonSearchTest">
                <parameter name="URL" value="http://www.amazon.in/"/>
            </class>
            <class name="io.automation.GoogleSearchTest">
                <parameter name="URL" value="http://www.google.co.in/"/>
            </class>
        </classes>
    </test>
    <test name="WebChromeTest">
        <parameter name="browserName" value="chrome-local"/>
        <!--        Enable below to run on grid-->
        <!--        <parameter name="browserName" value="chrome-remote"/>-->
        <classes>
            <class name="io.automation.AmazonSearchTest">
                <parameter name="URL" value="http://www.amazon.in/"/>
            </class>
            <class name="io.automation.GoogleSearchTest">
                <parameter name="URL" value="http://www.google.co.in/"/>
            </class>
        </classes>
    </test>
</suite>